/* Colors */
$utility-grey: #D5D4D5;
$utility-blue: #184B6D;
$black: #191B22;
$red: #970614;
$aqua: #B9E1F8;
$grey: #D5D4D5;
$blue: #184B6D;
$secondary-blue: #2A5776;
$header-blue: #23455E;
$light-blue: #8AC5E7;