/* Hero Slider */
#hero-wrapper {
	margin: 0;
	.caption {
		background: $utility-blue;
		color: #fff;
		font-family: 'Roboto', sans-serif;
		padding: 20px 55px 20px 25px;
		width: 100%;
		@include breakpoint(small) {
			border-right: 3px solid #DFE3E7;
			bottom: 0;
			float: left;
			position: absolute;
			top: 0;
			width: 42.75%;
		}
	}
	.image {
		display: none;
		float: right;
		left: 23%;
		position: relative;
		width: 86%;
		z-index: 1;
		@include breakpoint(small) {
			display: block;
		}
		@include breakpoint(medium) {
			left: auto;
			width: 62%;
		}
		img {
			width: 125%;
		}
	}
	.subtitle,
	.title {
		color: $light-blue;
		text-transform: uppercase;
	}
	.title {
		font-size: 16px;
		letter-spacing: 3px;
	}
	.subtitle {
		font-family: 'Trajan W01', serif;
		font-size: 36px;
		@include breakpoint(large) {
			font-size: 40px;
		}
	}
	.description {
		font-size: 12px;
		margin: 0 0 15px;
		@include breakpoint(small) {
			margin: 0;
		}
	}
	.button-wrapper {
		@extend %button;
		@include breakpoint(small) {
			bottom: 25px;
			position: absolute;
		}
		a {
			color: $utility-blue;
			&:hover {
				color: #fff;
			}
		}
	}
}


// Arrows / Next Company
#hero-wrapper {
	button.slick-prev {
		display: none !important;
	}
	button.slick-next {
		left: 22.9%;
		top: auto;
		bottom: 35px;
		width: 178px;
	}
	.next-slide {
    left: 52%;
	}
}