/* Hero Slider */
#hero-wrapper {
	margin: 0 auto;
	background: #184B6D;
	@include breakpoint(small) {
		padding: 0 15px;
		background: transparent;
	}
	.caption {
		background: $utility-blue;
		color: #fff;
		font-family: 'Roboto', sans-serif;
		padding: 20px;
		width: 100%;
		@include breakpoint(small) {
			padding: 20px 40px 20px 25px;
			border-right: 3px solid #DFE3E7;
			bottom: 0;
			float: left;
			position: absolute;
			top: 0;
			width: 42.75%;
		}
		@include breakpoint(large) {
			padding: 20px 55px 20px 25px;
		}
	}
	.image {
		display: none;
		float: right;
		left: 23%;
		position: relative;
		width: 86%;
		z-index: 1;
		@include breakpoint(small) {
			display: block;
		}
		@include breakpoint(medium) {
			left: auto;
			width: 62%;
		}
		img {
			width: 125%;
		}
	}
	.subtitle,
	.title {
		color: $light-blue;
		text-transform: uppercase;
	}
	.title {
		font-size: 16px;
		letter-spacing: 3px;
	}
	.subtitle {
		font-family: 'Trajan W01', serif;
		font-size: 36px;
		@include breakpoint(small) {
			font-size: 28px;
		}
		@include breakpoint(medium) {
			font-size: 36px;
		}
		@include breakpoint(large) {
			font-size: 40px;
		}
	}
	.description {
		font-size: 12px;
		margin: 0 0 15px;
		@include breakpoint(small) {
			margin: 0;
		}
	}
	.button-wrapper {
		font-size: 0;
		margin: 10px 0;
		@include breakpoint(small) {
			position: absolute;
			bottom: 20px;
			left: 0;
			width: 100%;
			margin: 0;
		}
		.button {
			@extend %button;
			height: auto;
			line-height: 1.2;
			padding: 10px 20px;
			@include breakpoint(small) {
				padding: 5px 20px;
				font-size: 14px;
			}
			@include breakpoint(medium) {
				padding: 10px 20px;
				font-size: 16px;
			}
		}
		a {
			color: $utility-blue;
			&:hover {
				color: #fff;
			}
		}
		> div {
			display: inline-block;
			width: 50%;
			text-align: center;
			padding: 0 3px;
		}
	}
}


// Arrows / Next Company
#hero-wrapper {
	button.slick-prev {
		display: none !important;
	}
	button.slick-next {
		left: 22.9%;
		top: auto;
		bottom: 35px;
		width: 178px;
	}
	.next-slide {
    left: 52%;
	}
}