/* Home */

// Map Area 
#home-map-wrapper {
	margin: 0 -10px;
	&:hover {
		.map-button-wrapper {
	    display: block;
		}
	}
	img {
		max-width: 100%;
	}
	.map-button-wrapper {
		@extend %button;
		background: $red;
		display: none;
		left: 25%;
		position: absolute;
		top: 40%;
		a {
			color: #fff;
		}
		&:hover {
			background: $grey;
			a{
				color: $blue;
			}
		}
	}
	.button-wrapper {
		background: $blue;
		display: table;
		@extend %button;
		float: left;
		font-size: 13px;
		height: 50px;
		line-height: 13px;
		margin: 0 10px 10px 0;
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: center;
		width: 170px;
		&:nth-child(even) {
			margin-right: 0;
		}
		&:nth-child(3),
		&:nth-child(4) {
			margin-bottom: 0;
		}
		a {
			color: $grey;
			display: table-cell;
			vertical-align: middle;
		}
	}
	.button-group {
    position: absolute;
    right: 15px;
    top: 50px;
    width: 360px;
    @include breakpoint(large) {
    	top: 70px;
    }
	}
}


// Web Parts
#home-webparts-wrapper {
	ul.news-list {
		height: 260px;
	}
	#Sidebar_Downloads ul {
		@include breakpoint(small) {
			height: 260px;
		}
	}
	#Sidebar_Downloads ul,
	ul.news-list {
		color: $black;
		font-family: 'Roboto', sans-serif;
		list-style: none;
		margin: 0 0 50px;
		overflow: hidden;
		padding: 0;
		@include breakpoint(small) {
			margin: 0;
		}
	}
}
#inner-webparts-wrapper {
	background: #fff;
	padding: 25px;
}
.webpart-title,
#home-webparts-wrapper .SidebarTitle,
.about-header {
	background: none;
	color: $utility-blue;
	font-family: 'Trajan W01', serif;
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 15px;
	text-align: center;
}
.horizontal-gradient {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(32,80,113,1) 25%, rgba(32,80,113,1) 75%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(25%, rgba(32,80,113,1)), color-stop(75%, rgba(32,80,113,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(32,80,113,1) 25%, rgba(32,80,113,1) 75%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(32,80,113,1) 25%, rgba(32,80,113,1) 75%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(32,80,113,1) 25%, rgba(32,80,113,1) 75%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(32,80,113,1) 25%, rgba(32,80,113,1) 75%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	height: 1px;
	margin: 0 auto 5px;
	width: 90%;
}


// Web Parts: News
ul.news-list {
	.item {
		margin: 0 0 20px;
	}
	.Date {
		font-size: 13px;
		font-style: italic;
	}
	.Title {
		font-size: 18px;
		font-weight: 400;
	}
	.Link a {
		color: $red;
		font-family: Helvetica, arial, sans-serif;
		font-size: 13px;	
		font-weight: bold;
		&:hover {
			color: $black;
		}
	}
}


// Web Parts: Downloads
#home-webparts-wrapper #Sidebar_Downloads {
	.SidebarText {
		display: none;
	}
	.SidebarListMyFavorites {
		clear: right;
		float: right;
	}
	.SidebarListIcon,
	.SidebarListText,
	li {
    display: inline-block;
	}
	.SidebarListIcon {
		margin-right: 10px;
	}
	.SidebarListText {
		position: relative;
		top: 1px;
	}
	li {
		font-size: 13px;
		margin: 0 0 10px;
		width: 100%;
	}
}


// About Section
#home-about-wrapper {
	background: #fff;
	padding: 25px;
	.rsNav.rsBullets {
		display: table;
		margin: 10px auto 0;
	}
	.item {
		text-align: center;
	}
	.text a {
		color: $utility-blue;
		font-size: 13px;
		font-style: italic;
		font-weight: 300;
	}
	.ImageRotator {
		height: 180px;
	}
}
.about-copy {
	color: $black;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	line-height: 1.25;
	margin: 0 0 30px;
	@include breakpoint(small) {
		font-size: 13px;
		margin: 0;
	}
}
.image img {
  width: 82%;
}
.rsArrow {
	opacity: 1 !important;
	visibility: visible !important;
}
.rsArrow {
  position: absolute;
  top: 27%;
	&:before {
		color: $grey;
		font-family: 'FontAwesome';
		font-size: 24px;
	}
}
.rsArrowLeft {
  left: 0;
  &:before {
  	content: "\f053";
  }
}
.rsArrowRight {
  right: 0;
  &:before {
  	content: "\f054";
  }
}