/* Master */

// Background 
body {
	background: url('/brenham/images/body-background.png') repeat-x #191B22;
	background-position-y: 150px;
}


// Header 
header {
	background: $black;
	border-bottom: 2px solid #34769B;
	&:after {
  	border-bottom: 1px solid #205677;
	}
}


// Text 
a {
	&:hover {
		text-decoration: none;
	}
}


// Site Logo 
.site-logo-wrapper {
	@include breakpoint(small) {
		padding: 0;
		margin: 15px 0 0 0;
	}
	@include breakpoint(medium) {
		padding: 0 15px;
		margin: 15px 0 0 0;
	}
	@include breakpoint(large) {
		margin: 0;
	}
	a {
		display: inline-block;
		max-width: 85%;
		margin: 10px 0;
		@include breakpoint(small) {
			max-width: 100%;
		}
		&:hover {
			opacity: .75;
		}
	}
}
.site-logo-wrapper {
	transition: all 0.2s linear 0.2s;
	img {
		max-width: 100%;
		@include breakpoint(large) {
			max-width: 268px;
		}
	}
}

.stick {
	position: fixed;
	top: -30px;
	left: 0;
	width: 100%;
	z-index: 99;
	opacity: 0.95;
	.site-logo-wrapper {
		visibility: hidden;
		opacity: 0;
	}
	.sticky-utility {
		visibility: visible;
		opacity: 1;
	}
}

.sticky-utility {
	transition: all 0.2s linear 0.2s;
	position: absolute;
	top: 50%;
	left: 50px;
	visibility: hidden;
	opacity: 0;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		li {
			display: inline-block;
			vertical-align: middle;
				a {
				font-size: 24px;
				color: #fff;
				opacity: 0.3;
				padding: 3px;
				display: block;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}